//========================================================
//                     Variables
//=========================================================

//Colors
@col-sch-1: #ffffff;
@col-sch-2: #4C69B3;
@col-sch-3: #373a43;
@col-sch-4: #f7f7f7;

//Fonts
@fnt-fam-1: 'Ubuntu', sans-serif;
@fnt-fam-2: 'Roboto', sans-serif;

@fnt-col-1: @col-sch-1;
@fnt-col-2: @col-sch-2;
@fnt-col-3: @col-sch-3;
@fnt-col-4: #666b7b;
@fnt-col-5: #34363e;

//Backgrounds
@header-bg: @col-sch-1;
@content-bg: @col-sch-1;
@footer-bg: @col-sch-3;