@import "_variables.less";
@import "_mixins.less";

@input-color: #989ba5;

/*==================== Layout ====================*/
.booking-form {
	.controlHolder + .controlHolder  { margin-top: 10px; }
	* + .btn { margin-top: 20px; }
	* + p { margin-top: 15px; }
}

/*==================== Styles ====================*/
.booking-form {
	position: relative;
	padding: 30px 30px 28px;
	color: @fnt-col-4;
	.background(fade(@col-sch-1, 80%););
	border-radius: 3px;

	input {
		height: 51px;
		width: 100%;
		font-family: @fnt-fam-2;
		font-size: 20px;
		line-height: 22px;
		color: @input-color;
		.background(fade(@col-sch-1, 55%););
		padding: 11px 18px 13px;
		border: 1px solid #cccdcf;
		border-radius: 2px;
		outline: none;
		.box-sizing(border-box);
	}

	a[data-type='submit']{
		display: block;
		padding: 12px 0 17px;
	}

	small {
		display: block;
		font-size: 14px;
		line-height: 22px;
	}

	*::-webkit-input-placeholder { color: @input-color; opacity: 1; }
	*:-moz-placeholder { color: @input-color; opacity: 1; }
	*::-moz-placeholder { color: @input-color; opacity: 1; }
	*:-ms-input-placeholder { color: @input-color; opacity: 1; }
}

.tmInput, .tmSelect{
	position: relative;
}

.tmSelect {
	display: block;
	input{
		padding-right: 50px;
		color: @fnt-col-1;
	}
	&:after {
		content: "\f107";
		font-family: FontAwesome;
		position: absolute;
		top: 15px;
		right: 20px;
		font-size: 20px;
		line-height: 20px;
		pointer-events: none;
	}
}

.controlHolder {
	position: relative;
}

/* Messages */
.error-message {
	position: absolute;
	top: 3px;
	left: 3px;
	font-weight: normal;
	text-align: left;
	width: 100%;
	font-size: 10px;
	line-height: 10px;
	z-index: 4;
	color: @col-sch-2;
}

.success-message {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	.background(fade(@col-sch-1, 80%););
	color: @fnt-col-2;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
	padding: 20px;
	border-radius: 3px;
}

/* transformSelect CSS */
.tmSelect {
	clear: both;
	width: 100%;
	margin: 0px;
	li {
		position: relative;
		list-style: none;
	}
	span, input[type=text] {
		position: relative;
		cursor: pointer;
		display: block;
		left: 0;
		top: 0;
		margin: 0;
	}

	&.auto {
		cursor: pointer;
		span {
			background: transparent;
		}
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 20px;
		ul {
			margin: 1px 0 0;
			width: 100%;
			background: #F9F9F9;
		}
		> li {
			&:first-child > span {
				padding: 7px 12px;
				width: 35px;
				height: 100%;
			}
		}
	}
	ul, .transformSelectDropdown {
		width: 100%;
		position: absolute;
		top: 100%;
		padding: 0;
		background: @col-sch-3;
		.box-sizing(border-box);
		border-radius: 35px;
		overflow: hidden;
		z-index: 10;
		span {
			border: 0;
			color: #000;
			padding: 5px 13px;
			&:hover {
				background: @col-sch-2;
			}
		}
	}
}