.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 51px;
    background: -moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 51px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #989ba5;
    background: rgba(255, 255, 255, 0.55);
    padding: 11px 13px 13px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 80%;
    background: url(chosen-sprite.png) no-repeat 0 15px;
}