@import "animate.css";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import "material-design.css";

/*========================================================
						Includes
=========================================================*/
/*========================================================
					  Main Styles
=========================================================*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #666b7b;
    background: #373a43;
    -webkit-text-size-adjust: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #34363e;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    line-height: 62px;
    font-weight: 400;
}

@media (max-width: 767px) {
    h2 {
        font-size: 38px;
    }
}

@media (max-width: 767px) {
    h2 {
        line-height: 50px;
    }
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    color: #4C69B3;
}

@media (max-width: 979px) {
    h3 {
        font-size: 28px;
    }
}

@media (max-width: 979px) {
    h3 {
        line-height: 34px;
    }
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #4C69B3;
}

p a:hover {
    text-decoration: underline;
}

.small {
    font-size: 14px;
    line-height: 28px;
}

blockquote {
    position: relative;
    font-size: 24px;
    line-height: 38px;
    vertical-align: baseline;
    text-indent: 16px;
}

blockquote:before {
    content: "“";
    position: relative;
    top: 47px;
    left: -16px;
    font-size: 94px;
    color: #4C69B3;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:active {
    background: transparent;
}

a:focus {
    outline: none;
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

.fa {
    line-height: inherit;
}

[class*='fa-']:before {
    font-weight: 400;
    font-family: 'FontAwesome';
}

.left {
    text-align: left;
}

.clr {
    clear: both;
}

.d-none {
   display: none;
}

.d-block {
    display: block;
}

.fa {
    /*margin-top: 6px;*/
    margin-right: 6px;
}

@media (max-width: 767px) {
    .left {
        text-align: center;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@media (max-width: 767px) {
    .right {
        text-align: center;
    }
}

.page {
    overflow: hidden;
    min-height: 500px;
}

.lt-ie9 .page {
    min-width: 1200px;
}

/*=======================================================
                       Main Layout
=========================================================*/
* + h2 {
    margin-top: 50px;
}

* + h3 {
    margin-top: 40px;
}

* + h4 {
    margin-top: 30px;
}

* + h5 {
    margin-top: 20px;
}

* + h6 {
    margin-top: 20px;
}

.icon + h3 {
    margin-top: 24px;
}

.img + h5 {
    margin-top: 26px;
}

* + p {
    margin-top: 15px;
}

h2 + p {
    margin-top: 22px;
}

h3 + p {
    margin-top: 14px;
}

h4 + p {
    margin-top: 15px;
}

* + .row {
    margin-top: 39px;
}

h2 + .row {
    margin-top: 30px;
}

.row + .row {
    margin-top: 26px;
}

.row + .offset02 {
    margin-top: 36px;
}

header h2 + .row {
    margin-top: 43px;
}

* + .img {
    margin-top: 20px;
}

blockquote + .img {
    margin-top: 30px;
}

* + .btn {
    margin-top: 39px;
}

* + .footer-brand {
    margin-top: 22px;
}

* + .copyright {
    margin-top: 22px;
}

.copyright:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn.btn-nomargintop {
    margin-top: 0;
}

.btn.to-edit {
    margin-left: 15px;
}

.label-wrapper {
    display: inline-block;
    margin-top: 14px;
}

/*=======================================================
						Components
=========================================================*/
/*==================     ToTop     ======================*/
.toTop {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    background: #4e525f;
    position: fixed;
    right: 66px;
    bottom: 180px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}

.toTop:hover {
    color: #fff;
    background: #3b3fed;
    text-decoration: none;
}

@media only screen and (max-width: 1399px) {
    .toTop {
        display: none !important;
    }
}

/*==================   Parallax    ======================*/
.parallax {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.mobile .parallax,
.tablet .parallax {
    background-position: 50% 0 !important;
}

.parallax h1,
.parallax h2,
.parallax h4,
.parallax h6 {
    color: #ffffff;
}

.parallax01 {
    background-color: #FFF;
    padding: 210px 0 187px;
}

@media (max-width: 767px) {
    .parallax01 {
        padding: 160px 0 80px;
    }
}

.parallax02 {
    background-color: #FFF;
    background-image: url(../images/parallax02.jpg);
    padding: 78px 0 100px;
}

@media (max-width: 767px) {
    .parallax02 {
        padding: 60px 0 80px;
    }
}

@media (max-width: 767px) {
    .parallax {
        background-position: center 0 !important;
    }
}

/*==================== Btn ====================*/
.btn {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 15px 78px 14px;
    background: #4C69B3;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.41);
}

.btn-rules {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 10px 25px 10px;
    background: #4C69B3;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.41);
}

.btn-rules:hover {
    cursor: pointer;
}

.btn-noshadow {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 15px 63px 14px;
    background: #4C69B3;
    border: none;
    border-radius: 2px;
}

.btn.unactive, .btn-noshadow.unactive, .btn-rules.unactive {
    background: #C3C3C3;
}

.profile-form .btn {
    margin: 0;
    margin-left: 10px;
}

@media (max-width: 979px) {
    .btn, .btn-noshadow {
        padding: 15px 50px 14px;
    }
}

@media (max-width: 767px) {
    .btn, .btn-noshadow {
        display: block;
        padding: 15px 39.5% 14px;
    }
}

@media (max-width: 479px) {
    .btn, .btn-noshadow {
        display: block;
        padding: 15px 32% 14px;
    }
}

.btn:hover, .btn-noshadow:hover {
    background: #3950b3;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    cursor: pointer;
}

.btn:active, .btn-noshadow:active {
    background: #233290;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

/*==================== Icon ====================*/
.icon {
    margin-left: auto;
    margin-right: auto;
    width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    background: #eaebeb;
    border-radius: 50%;
}

.icon.get-money {
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}

.icon.get-money:hover {
    background: #4C69B3;
    cursor: pointer;
}

/*==================== Img ====================*/
.img {
    display: inline-block;
    max-width: 100%;
}

.img__circle {
    border-radius: 50%;
    overflow: hidden;
}

/*========================================================
					 HEADER  Section
=========================================================*/
header {
    position: relative;
    color: #ffffff;
    background: #ffffff;
    text-align: center;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 68px;
    font-weight: 400;
}

header h2 em {
    display: block;
    font-size: 56px;
    line-height: 68px;
}


.contact-btn {
    /*margin-left: -59px;*/
    position: fixed;
    top: 2%;
    z-index: 100;
    background: #4C69B3;
    color: #fff;
    padding: 5px 30px;
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
}

.contact-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

#contactModal label {
    display: inline-block;
    padding: 20px 5px 0px 5px;
}

#contactModal center {
    margin-top: 10px;
}

#contactModal p.title {
    text-align: center;
    font-size: 37px;
}

#contactModal input, #contactModal textarea, #contactModal select, .hidden-door input {
    height: 51px;
    width: 100%;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #989ba5;
    background: rgba(255,255,255,.55);
    padding: 11px 18px 13px;
    border: 1px solid #cccdcf;
    border-radius: 2px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contacts-captcha {
    width: 75% !important;
}

/*==================== Top Panel ====================*/
.top-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 19px 0 17px;
    background: rgba(55, 58, 67, 0.9);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.lt-ie9 .top-panel {
    background: none;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6373a43', endColorstr='#e6373a43');
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6373a43', endColorstr='#e6373a43');
    zoom: 1;
}

.top-panel .container {
    position: relative;
}

/*==================== Social auth ====================*/
.social-icons {
    font-size: 20px;
    background-color: #4C69B3;
    width: 31px;
    height: 31px;
    color: #fff;
}

.social-icons:hover {
    cursor: pointer;
    opacity: 0.8;
}

.eauth-service-id-vkontakte a, .eauth-service-id-facebook a {
    display: none;
}

/*==================== Brand ====================*/
.brand {
    display: inline-block;
}

.brand_name {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    overflow: hidden;
    padding: 0 0 4px;
}

.brand_slogan {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    color: #b1b4bb;
    margin: 0;
}

.langs-list {
    position: absolute;
    top: 25px;
    right: 10px;
}

.langs-list ul li {
    display: inline;
    margin: 0 5px;
}

.langs-list ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.langs-list ul li.active {
    text-decoration: underline;
}

/*==================== Brand ====================*/
.iconed-box {
    position: relative;
    text-align: left;
    padding: 0 0 0 110px;
}

.iconed-box h4 {
    color: #4C69B3;
}

.iconed-box .icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 50px;
    color: #ffffff;
    background: #4C69B3;
}

.iconed-box .icon + * {
    margin-top: 0;
}

/*========================================================
					 CONTENT  Section
=========================================================*/
main {
    display: block;
    padding: 0 0 0 0;
    background: #ffffff;
    text-align: center;
}

/*==================== Well ====================*/
.well {
    padding: 59px 0 81px 0;
}

.well__02 {
    padding: 90px 0 90px 0;
}

.well__03 {
    padding: 67px 0 88px 0;
}

.well__04 {
    padding: 103px 0 114px 0;
}

.well__05 {
    padding: 0 0 25px 0;
}

.well__06 {
    padding: 40px 0 40px 0;
}

/*==================== Background ====================*/
.bg01 {
    background: #f7f7f7;
}

/*==================== Offset ====================*/
.offset01 {
    margin-top: 14px;
}

/*==================== Shadow ====================*/
.shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/*========================================================
					 FOOTER  Styles
=========================================================*/
footer {
    text-align: center;
    color: #aaadb9;
    padding: 44px 0 40px;
    background: #373a43;
    font-size: 12px;
    line-height: 25px;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/*==================== Footer Brand ====================*/
.footer-brand {
    display: inline-block;
}

.footer-brand_name {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #aaadb9;
    overflow: hidden;
    padding: 0 0 4px;
}

.footer-brand_slogan {
    font-family: 'Ubuntu', sans-serif;
    font-size: 8px;
    line-height: 8px;
    font-weight: 300;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #aaadb9;
    margin: 0;
}

/*========================================================
					 News  Styles
=========================================================*/
.sectionPadding {
    padding-top: 120px;
}

.news .row {
    margin-left: 0;
    text-align: justify;
}

.news .news-block {
    margin-top: 20px;
}

.news .row .time {
    font-size: 14px;
    color: #8A8A8A;
}

.news .row .readMore {
    color: #4C69B3;
    text-decoration: underline;
}

.news .row .readMore:hover {
    text-decoration: none;
}

/*========================================================
					 Girl profile  Styles
=========================================================*/
.profile .coverImg img {
    width: 180px;
    border-radius: 50%;
}

.profile .coverImg span:first-child {
    margin-right: 15px;
}

.profile .tmInput.required .control-label:after, .profile span.required, .profile .iconed-box.required label:after {
    content: ' *';
    color: #f00;
}

.profile .tmInput.imgBlock {
    display: inline-block;
}

.profile .step {
    margin-top: 30px;
    text-align: left;
}

.profile .step_2, .profile .step_3, .profile .step_4, .profile .step_5 {
    display: none;
}

.profile .control-btns {
    margin-top: 30px;
}

.profile .prev-step {
    display: none;
}

.profile .fileName {
    display: none;
}

.profile .del-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile .error-list {
    color: #f00;
}

.profile .error-list ul{
    list-style-type: disc;
    margin-left: 18px;
}

/*========================================================
					 NAV
=========================================================*/
nav ul li.menu-item {
    font-size: 20px;
    margin-left: 22px;
    display: inline;
}

nav ul li.menu-item a:hover {
    text-decoration: underline;
}

nav .balance {
    color: #6F9658;
}

.m-height {
    min-height: 1000px;
}

.lang-select {
    display: inline-block;
    background-color: #4A4D55;
    color: #fff;
    width: 35px;
    border: 1px solid #4A4D55;
    margin-left: 25px;
}

.lang-select:hover {
    cursor: pointer;
}

.lang-select ul {
    display: none;
    margin-left: 0 !important;
}

.lang-select li {
    display: block;
    width: 100%;
}

.lang-select li:hover {
    background-color: #FFF;
    color: #666B7B;
}

.contacts-count {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: rgba(76, 105, 179, 0.8);
    border: 1px solid #4C69B3;
    color: #fff;
}

.contacts-count:hover {
    background-color: #4C69B3;
}

/*========================================================
					 Contact
=========================================================*/
.contact h5 {
    margin-bottom: 10px;
    text-align: left;
}

/*/!*========================================================*/
/*Messenger*/
/*=========================================================*!/*/
.messenger .contacts {
    height: 500px;
    width: 100%;
    border-right: 1px solid #C7C7C7;
    overflow-y: scroll;
}

.messenger .contact {
    padding: 10px 5px;
    border-bottom: 1px solid #c7c7c7;
}

.messenger .contact:hover, .messenger .active {
    cursor: pointer;
    background-color: #fff;
}

.messenger .contact.new {
    font-weight: bold;
}

.messenger .contacts img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    float: left;
}

.messenger .contacts .time {
    float: right;
    margin-right: 5px;
    font-size: 13px;
}

.messenger .contacts .name {
    margin-left: 15px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
}

.messenger .contacts .text {
    font-size: 14px;
    margin: 0 0 0 15px;
}

.messenger .contacts .no-chats {
    text-align: center;
}

.chat {
    height: 450px;
    overflow-y: scroll;
}

.chat .message {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.chat .message .avatar img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
}

.chat .message .mess {
    border: 1px solid #c7c7c7;
    width: 80%;
    float: left;
    margin-left: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 25px 25px 25px;
}

.chat .message.right-mess .mess {
    margin-right: 10px;
    margin-left: 0;
    background-color: #fff;
    border-radius: 25px 0 25px 25px;
}

.chat .message .mess .time {
    float: right;
    font-size: 13px;
}

.message-field {
    height: 40px;
    background-color: #fff;
    margin-top: 20px;
}

.message-field textarea, .message-field textarea:focus {
    height: 90%;
    outline: none;
    border: none;
    width: 85%;
    font-size: 15px;
    padding-left: 10px;
    resize: none;
}

.message-field .send-btn {
    float: right;
    height: 100%;
    background-color: #4C69B3;
    width: 13%;
    color: #fff;
}

.message-field .send-btn:hover {
    background-color: #00b3ee;
    cursor: pointer;
}

.message-field .send-btn center {
    margin-top: 5px;

}

/*========================================================
					 Partner's girl
=========================================================*/
.partner-girls img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.partner-girls .girl {
    width: 27%;
    border: 3px solid #B3B3B3;
    background-color: #fff;
    padding: 10px;
    float: left;
    margin-bottom: 40px;
    opacity: 0.9;
    margin-right: 50px;
}

.partner-girls .girl:hover {
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 1;
}

/*.partner-girls .girl.center {*/
/*margin-left: 70px;*/
/*margin-right: 70px;*/
/*}*/
.partner-girls .girl .name {
    color: #4C69B3;
}

.partner-girls button {
    /*margin-top: 30px;*/
}

/*========================================================
					 Girl profile  Styles
=========================================================*/
.profile .coverImg img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.profile .coverImg.edit img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile .coverImg span:first-child {
    margin-right: 15px;
}

.profile .step {
    margin-top: 30px;
}

.profile .step_2, .profile .step_3, .profile .step_4 {
    display: none;
}

.profile .control-btns {
    margin-top: 30px;
}

.profile .prev-step {
    display: none;
}

.profile .save-profile {
    display: none;
}

.profile .save-partner-profile {

}

.profile b {
    height: 51px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #989ba5;
    background: rgba(255, 255, 255, 0.55);
    padding: 11px 5px 0;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile small, .status {
    color: #239649;
}

.profile .error {
    border: 1px solid #f00 !important;
}

.profile .girl-album {
    background: #f7f8fa;
    padding: 50px;
    height: 100%;
    width: 100%;
}

.profile .girl-album.edit {
    padding: 50px 0;
}

.profile .girl-album .del-photo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile .girl-album .photo img {
    /*width: 200px;*/
    height: 145px;
    border: 1px solid #e1e1e1;
    margin-left: 25px;
    margin-bottom: 25px;
}

/*========================================================
					 Yii errors
=========================================================*/
.help-block.help-block-error {
    color: #f00;
}

.current-savings {
    position: fixed;
    right: 30px;
    top: 120px;
    font-size: 20px;
    color: #489C3A;
}

/*========================================================
					 Statistics styles
=========================================================*/
.filter-block .no-register-girls {
    display: none;
}

.input-data-block {
    display: none;
}

/*========================================================
					 Balances styles
=========================================================*/
.balances .balance-table-wrapper {
    padding: 25px 0;
    max-height: 836px;
    overflow-y: scroll;
}

.balances .balance-btn-wrapper {
    padding: 25px 0;
    margin-top: 38px;
}

.balances table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.balances th {
    font-weight: bold;
    border-bottom: 1px solid;
}

.balances tr {
    height: 40px;
}

.balances tr:nth-child(odd) {
    background-color: #fff;
}

.balances tr:nth-child(even) {
    background-color: #EFEFEF;
}

.balances tr.total {
    border-top: 1px solid;
    font-weight: bold;
    background-color: #fff;
}

.balances td {
    vertical-align: middle;
}

.balances .add {
    color: #6F9658;
}

.balances .sub {
    color: #CA2F2F;
}

.balances input {
    height: 43px;
    margin-top: -11px;
    width: 172px;
    font-size: 20px;
    color: #666b7b;
    padding-left: 10px;
}

.balances .get-money-block {

}

.balances .get-money-block {
    display: none;
}

.balances .msg {
    display: none;
}

.balances .msg.success {
    color: #4C69B3;
}

.balances .msg.error {
    color: #f00;
}

/*========================================================
					 D&D albums upload
=========================================================*/
.file_input {
    display: inline-block;
    padding: 10px 16px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
    color: #008BFF;
    border: 1px solid #008BFF;
    vertical-align: middle;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.file_input:hover,
.file_input:active {
    background: #008BFF;
    color: #fff;
}
/*========================================================
					 Rules page styles
=========================================================*/
.rules-page center {
    margin-top: 36px;
}

.rules-page .accept-rules {
    margin: 0 5px;
}

.rules-page input[type="radio"] {
    margin: 19px 15px 0 0px;
}

.training {
    width: 24%;
}
video{
    width:70%;
    margin-left: 15%;
}