/*==================== Layout ====================*/
.booking-form .controlHolder + .controlHolder {
  margin-top: 10px;
}
.booking-form * + .btn {
  margin-top: 20px;
}
.booking-form * + p {
  margin-top: 15px;
}
/*==================== Styles ====================*/
.booking-form {
  position: relative;
  padding: 30px 30px 28px;
  color: #666b7b;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.lt-ie9 .booking-form {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  zoom: 1;
}
.booking-form input[type=text], .booking-form input[type=password], .profile-form input[type=text], .profile-form select,
.profile-form textarea, .chosen-single {
  height: 51px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #989ba5;
  background: rgba(255, 255, 255, 0.55);
  padding: 11px 18px 13px;
  border: 1px solid #cccdcf;
  border-radius: 2px;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.profile-form textarea {
  height: 100px;
  resize: none;
}
label {
  height: 51px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #989ba5;
  padding: 11px 5px 0;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lt-ie9 .booking-form input {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cffffff', endColorstr='#8cffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cffffff', endColorstr='#8cffffff');
  zoom: 1;
}
.booking-form a[data-type='submit'] {
  display: block;
  padding: 12px 0 17px;
}
.booking-form small {
  display: block;
  font-size: 14px;
  line-height: 22px;
}
.booking-form *::-webkit-input-placeholder {
  color: #989ba5;
  opacity: 1;
}
.booking-form *:-moz-placeholder {
  color: #989ba5;
  opacity: 1;
}
.booking-form *::-moz-placeholder {
  color: #989ba5;
  opacity: 1;
}
.booking-form *:-ms-input-placeholder {
  color: #989ba5;
  opacity: 1;
}
.tmInput,
.tmSelect {
  position: relative;
}
.tmSelect {
  display: block;
}
.tmSelect input {
  padding-right: 50px;
  color: #ffffff;
}
.tmSelect:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  line-height: 20px;
  pointer-events: none;
}
.controlHolder {
  position: relative;
}
/* Messages */
.error-message {
  position: absolute;
  top: 3px;
  left: 3px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  z-index: 4;
  color: #4C69B3;
}
.success-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #4C69B3;
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  padding: 20px;
  border-radius: 3px;
}
.lt-ie9 .success-message {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  zoom: 1;
}
/* transformSelect CSS */
.tmSelect {
  clear: both;
  width: 100%;
  margin: 0px;
}
.tmSelect li {
  position: relative;
  list-style: none;
}
.tmSelect span,
.tmSelect input[type=text] {
  position: relative;
  cursor: pointer;
  display: block;
  left: 0;
  top: 0;
  margin: 0;
}
.tmSelect.auto {
  cursor: pointer;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 20px;
}
.tmSelect.auto span {
  background: transparent;
}
.tmSelect.auto ul {
  margin: 1px 0 0;
  width: 100%;
  background: #F9F9F9;
}
.tmSelect.auto > li:first-child > span {
  padding: 7px 12px;
  width: 35px;
  height: 100%;
}
.tmSelect ul,
.tmSelect .transformSelectDropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  padding: 0;
  background: #373a43;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  overflow: hidden;
  z-index: 10;
}
.tmSelect ul span,
.tmSelect .transformSelectDropdown span {
  border: 0;
  color: #000;
  padding: 5px 13px;
}
.tmSelect ul span:hover,
.tmSelect .transformSelectDropdown span:hover {
  background: #4C69B3;
}

/*--------------------------------------------*/

#bookingForm .logBtn {
  margin-top: 3px;
  color: #4C69B3;
  text-decoration: underline;
  display: inline-block;
}
#bookingForm .logBtn:hover {
  text-decoration: none;
  cursor: pointer;
}
.singInForm {
  display: none;
}

/*==================== Charts styles ====================*/
.filter-block .input-block {
  margin-top: 27px;
}
.filter-block input {
  height: 51px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #989ba5;
  background: rgba(255, 255, 255, 0.55);
  padding: 11px 18px 13px;
  border: 1px solid #cccdcf;
  border-radius: 2px;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}