.pickmeup {
    border-radius: 0;
    background: #fff;
    position: absolute;
    border: 1px solid #cccdcf;
    overflow: hidden;
}
.pickmeup .pmu-instance .pmu-today {
    background: #4C69B3;
    color: #FFFFFF;
}
.pickmeup .pmu-instance .pmu-button:hover {
    color: #4C69B3;
}
.pickmeup .pmu-instance .pmu-today:hover {
    color: #FFF;
}
.pickmeup .pmu-instance .pmu-button {
    color: #666;
}
.pickmeup .pmu-instance .pmu-not-in-month {
    color: #eee;
}
.pickmeup .pmu-instance .pmu-selected {
    background: #4C69B3;
}
.pickmeup .pmu-selected.pmu-button:hover{
    color: #FFF;
}
.pickmeup .pmu-disabled.pmu-button {
    color: #EEE;
}